body {
   background-color: gray;
   text-align: center;
}
h2{
    background-color: white;
    text-align: center;
    font-family: monospace;
    text-align: center;
    line-height: 10px;
}
h4{
    line-height: 2px;
    color: gainsboro;
}
img{
    
    width: 100%;
      border: 5px;
      border-radius: 20px;
      border-width: 15px;
      
    
}
div{
    background-color: white;
    margin-bottom: 250px;
    border: solid 5px;
    border-color: white;
    border-radius: 20px;
    border-width: 15px;
    width: 30%;
    margin-left: 50%;
}
